/* Your styling here */
.pink {
  background-color: #ed1a7b;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.pop-up-text {
  h1 {
    font-size: 40px;
  }
  color: #FFD800;
}

.email-field {
  background-color: #FFD800;
}

.submit-button {
  background-color: #37becc;
  padding: 10px;
  box-shadow: 0px 5px 5px 3px;
}
